{
  "presets": ["react-app"],
  "env": {
    "development": {
      "plugins": [
        // [
        //   "@babel/transform-react-jsx",
        //   { "pragma": "h", "useBuiltIns": true, "pragmaFrag": "Fragment" }
        // ],
        "react-refresh/babel"
      ]
    }
  }
}
